# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# cmake
*.cmake
*CMake*
*Makefile*

# swp files
*.swp
*.swo
*.swm

# vim config files
*.vimrc

tags
*/tags
*/cscope.out

*.swn
*.dot
*.ps

# LLVM files
*.bc
*.ll
*.sliced

*.i

tests/*-test

# C files in tools are test codes
tools/*.c
tools/*.bc

tools/a.*
tools/b.*

tools/llvm-dg-dump
tools/llvm-to-source
tools/llvm-slicer
tools/llvm-ps-dump
tools/llvm-pta-compare
tools/llvm-rd-dump

DartConfiguration.tcl

git-version.h

# YouCompleteMe build file
.ycm_extra_conf.pyc

# Shapechecker's output directory
tool_output
